.footerSection {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid grey;
    background-color: grey;
    flex: auto;
    bottom: 0; 
    left: 0; 
    z-index: 10;
     /* margin-top: 20px; */
  }
  .footerSection>p{
    text-align: center;
    font-size: 15px;
  }