<select id="payment" name="paymentMethod">
                        {{#each methods}}
                        <option value="{{value}}" {{#if isSelected}} selected {{/if}}>{{label}}</option>
                        {{/each}}
                    </select>